  <%- include("header"); -%>
  <body>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <% item.forEach( (itemInfo) => {%>
        <form action="/delete" method="post">
          <div class="item">
          <input onchange="this.form.submit()" name="check" value="<%= itemInfo._id %>" type="checkbox" />
          <p><%= itemInfo.name %></p>
        </div>
      </form>
      
      <%})%>
      <form class="item" action="/" method="post">
        <input
          autocomplete="off"
          type="text"
          name="newItem"
          placeholder="New Item"
        />
        <button type="submit" name="list" value="<%=listTitle%>">+</button>
      </form>
    </div>
  </body>
</html>
